<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/login.css">

</head>
<body>
  <div class="loginBox">
    <img src="../images/uploads/default.png" alt="" class="user">
    <h2>Login here</h2>
    <form action="/login" method="post">
      <p>Username</p>
      <input type="text" name="username" id="inp" placeholder="username">
      <p>password</p>
      <input type="password" name="password" id="" placeholder="password">
      <input type="submit" name="" class="submit">
    </form>
  </div>
</body>
</html>